# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Environment Variables
.env
.env.local
.env.*.local
*.env

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Other
coverage/
*.cover
*.coveragerc
*.log
*.out
*.cache
*.lock

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
.tox/
.nox/

# Cache files
*.swp
*~
